<div class="docs_container">
  <rapi-doc
    [attr.spec-url]="specUrl"
    update-route="false"
    theme="dark"
    style="height: 100vh; width: 100%"
    [attr.render-style]="rStyle"
    [attr.heading-text]="text"
    bg-color="#2a3843"
    text-color="#acb4b7"
    primary-color="#3b4b56"
    regular-font="Harmonia Sans Pro Cyr,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol"
    font-size="large"
    show-info="true"
    allow-spec-url-load="true"
    allow-server-selection="false"
    show-components="true"
  >
    <img class="docs_logo" slot="logo" [src]="logoUrl" />
  </rapi-doc>
</div>
